*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 10px;
}

.header{
    background-image: url('https://source.unsplash.com/1600x900/?ice background');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 100px;
    padding: 20px;
    box-shadow: 0 0 22px 2px;
}

h1{
    font-size: 28px;
    font-family: cursive;
    font-weight: bolder;
    font-stretch: expanded;
    box-shadow: 0 0 5px 0;
    max-width: 400px;
    margin-left: 520px;
    border-radius: 80px;
    padding: 7px;
    backdrop-filter: blur(10px) saturate(1.8);
    background: transparent;
    color: black;
}

.container{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 200px 100px;
    grid-gap: 5px;
    margin-top: 10px;
    grid-auto-flow: dense;
}

.gallery-item{
    width: 100%;
    height: 100%;
    position: relative;
}

.gallery-item .image{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gallery-item > .image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: .5s ease-in-out;
    
}
.gallery-item:hover >.image img{
    transform: scale(.8);
}


.w-2{
    grid-column: span 2; 
}

.w-3{
    grid-column: span 5;
}

.w-4{
    grid-column: span 4;
}
.w-5{
    grid-column: span 5;
}
.w-10{
    grid-column: span 10;
}


.h-2{
    grid-row: span 2;
}
.h-3{
    grid-row: span 3;
}

.h-5{
    grid-row: span 5;
}


